:root {
  --menu-bar-rotate: 40deg;
  --menu-bar-timming: 750ms ease-in-out;
}

.hambuger-icon {
  width: 50px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hambuger-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
}

/* Animation position after clicked */
.hambuger-icon span {
  transform-origin: left center;
}

.hambuger-icon span:nth-child(1) {
  top: -1px;
}

.hambuger-icon span:nth-child(2) {
  top: 14px;
}

.hambuger-icon span:nth-child(3) {
  top: 31px;
}

/* React transition */
.hambuger-icon-enter-active span:nth-child(1) {
  transform: rotate(var(--menu-bar-rotate));
  transition: var(--menu-bar-timming);
}
.hambuger-icon-enter-active span:nth-child(2) {
  width: 0%;
  opacity: 0;
  transition: var(--menu-bar-timming);
}
.hambuger-icon-enter-active span:nth-child(3) {
  transform: rotate(calc(var(--menu-bar-rotate) * -1));
  transition: var(--menu-bar-timming);
}

.hambuger-icon-enter-done span:nth-child(1) {
  transform: rotate(var(--menu-bar-rotate));
}
.hambuger-icon-enter-done span:nth-child(2) {
  width: 0%;
}
.hambuger-icon-enter-done span:nth-child(3) {
  transform: rotate(calc(var(--menu-bar-rotate) * -1));
  top: 31px;
}
/* exit */
.hambuger-icon-exit span:nth-child(1) {
  transform: rotate(40deg);
}
.hambuger-icon-exit span:nth-child(2) {
  opacity: 0;
}
.hambuger-icon-exit span:nth-child(3) {
  transform: rotate(calc(var(--menu-bar-rotate) * -1));
}

.hambuger-icon-exit-active span:nth-child(1) {
  transform: rotate(0deg);
  transition: var(--menu-bar-timming);
}
.hambuger-icon-exit-active span:nth-child(2) {
  opacity: 1;
  transition: var(--menu-bar-timming);
}
.hambuger-icon-exit-active span:nth-child(3) {
  transform: rotate(0deg);
  transition: var(--menu-bar-timming);
}

.hambuger-icon-exit-done span:nth-child(1) {
  transform: rotate(0deg);
}
.hambuger-icon-exit-done span:nth-child(2) {
  opacity: 1;
}
.hambuger-icon-exit-done span:nth-child(3) {
  transform: rotate(0deg);
}
