.hambuger-icon {
  width: 50px;
  height: 35px;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.hambuger-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
}

.hambuger-icon span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.hambuger-icon span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

.hambuger-icon span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}

/* React transition */

.hambuger-icon-enter-active span:nth-child(1) {
  transform: rotate(45deg);
  transition: 750ms ease-in-out;
}
.hambuger-icon-enter-active span:nth-child(2) {
  width: 0%;
  opacity: 0;
  transition: 750ms ease-in-out;
}
.hambuger-icon-enter-active span:nth-child(3) {
  transform: rotate(-45deg);
  transition: 750ms ease-in-out;
}

.hambuger-icon-enter-done span:nth-child(1) {
  transform: rotate(45deg);
}
.hambuger-icon-enter-done span:nth-child(2) {
  width: 0%;
}
.hambuger-icon-enter-done span:nth-child(3) {
  transform: rotate(-45deg);
}
/* exit */
.hambuger-icon-exit span:nth-child(1) {
  transform: rotate(45deg);
}
.hambuger-icon-exit span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hambuger-icon-exit span:nth-child(3) {
  transform: rotate(-45deg);
}
.hambuger-icon-exit-active span:nth-child(1) {
  transform: rotate(0deg);
  transition: 750ms ease-in-out;
}
.hambuger-icon-exit-active span:nth-child(2) {
  width: 100%;
  opacity: 1;
  transition: 750ms ease-in-out;
}
.hambuger-icon-exit-active span:nth-child(3) {
  transform: rotate(0deg);
  transition: 750ms ease-in-out;
}

.hambuger-icon-exit-done span:nth-child(1) {
  transform: rotate(0deg);
}
.hambuger-icon-exit-done span:nth-child(2) {
  width: 100%;
  opacity: 1;
}
.hambuger-icon-exit-done span:nth-child(3) {
  transform: rotate(0deg);
}

